*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}
/* header part*/
.header{
    text-align: center;
    background: darkslategrey;
    padding: 32px;
    color: white;
}
/* Top Nav Part */
.topNav{
    overflow: hidden;
    background-color: darkgray;
}
.topNav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
  }

  .topNav #right{
    float: right;
    background-color: red;
    color: whitesmoke;
  }
  /* topNav hover part*/
  .topNav a:hover{
    background-color: black;
    color: white;
  }
  .topNav #right:hover{
    background-color: green;
  }
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #5d9ed6;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #728aa9;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: rgb(235, 186, 186);
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #50e1bf;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }

  #demo {color: blue;}
.test {color: green;} 

#div1 {
    position: absolute;
    left: 50px;
    width: calc(100% - 100px);
    border: 1px solid black;
    background-color: yellow;
    padding: 5px;
    text-align: center;
  }
